<title>{{ title }}</title>
<div class="container">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			</button>
			<span class="navbar-brand">Recipe Assistant</span>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li class="active"><a href="#/">Home</a></li>
			</ul>
			<form class="navbar-form navbar-left">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Search Recipes">
			</div>
			<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						Settings <span class="glyphicon glyphicon-cog"></span>
					</a>
					<ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li role="separator" class="divider"></li>
					<li><a href="#">Log out</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>

	<div class="card" ng-repeat="recipe in recipes">
		<a href="#/view/{{ recipe.id }}">
	    	<img class="card-img-top" ng-src="{{ recipe.imgurl }}" alt="Recipe photo" height="100">
	    </a>
		<div class="card-block">
			<a href="#/view/{{ recipe.id }}">
				<h4 class="card-title">{{ recipe.name }}</h4>
			</a>
			<button type="button" class="btn btn-info btn-mini card-btn" data-toggle="modal" data-target="#ingredients_{{ recipe.id }}">
				Ingredients
			</button>
			<button type="button" class="btn btn-info btn-mini card-btn" data-toggle="modal" data-target="#steps_{{ recipe.id }}">
				Steps
			</button>
		</div>
	</div>

	<div ng-repeat="recipe in recipes">
		<!-- Modal -->
		<div class="modal fade" id="ingredients_{{ recipe.id }}" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Ingredients</h4>
					</div>
					<div class="modal-body">
						<p class="ingredients" ng-bind-html="recipe.ingredients"></p>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="steps_{{ recipe.id }}" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Recipe Steps</h4>
					</div>
					<div class="modal-body">
						<p class="steps" ng-bind-html="recipe.steps"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row text-center add-row">
		<a href="#/create" class="btn btn-primary" role="button"><span class="glyphicon glyphicon-plus"></span> Add Recipe</a>
	</div>

</div>